In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
SQL and NoSQL are two different types of database management systems (DBMS) that handle data in distinct ways:

SQL Databases:
SQL (Structured Query Language) databases are based on a relational model and use SQL as the standard language for managing the data.
These databases are characterized by their predefined schemas, which define the structure of the data, such as tables, columns, and relationships.
SQL databases are known for their ACID (Atomicity, Consistency, Isolation, Durability) properties, which ensure data integrity and reliability.

Advantages of SQL databases:
Strong data consistency and integrity due to strict schemas.
Support for complex queries using SQL.
Well-suited for applications that require structured data and complex relationships.
Mature and widely adopted, with a large ecosystem of tools and support.
Examples of SQL databases include MySQL, PostgreSQL, Oracle Database, and Microsoft SQL Server.

NoSQL Databases:
NoSQL (Not Only SQL) databases are designed to handle large volumes of unstructured, semi-structured, or structured data. 
They provide a flexible schema design, allowing for dynamic changes in the data structure without requiring a predefined schema. 
NoSQL databases are often used in scenarios where data needs to be distributed across multiple servers, as they offer scalability and
high-performance capabilities.

Advantages of NoSQL databases:
Flexible schema design allows for agile development and easy handling of evolving data structures.
Horizontal scalability and high-performance capabilities.
Ability to handle large amounts of unstructured data, such as documents, graphs, key-value pairs, or time-series data.
Well-suited for applications that require high availability and scalability, such as web applications and big data processing.
Examples of NoSQL databases include MongoDB, Cassandra, Redis, CouchDB, and Amazon DynamoDB.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and 
manage the structure of a database. DDL statements are responsible for creating, modifying, and deleting database objects such as tables, views,
indexes, and constraints. DDL statements do not manipulate or retrieve data; instead, they focus on defining the database schema.


CREATE:
The CREATE statement is used to create new database objects, such as tables, views, indexes, or constraints. 
It specifies the name of the object, its structure, and any associated properties. 

CREATE TABLE Customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100),
    age INT
);

DROP:
The DROP statement is used to remove database objects, such as tables or views, from the database. It permanently deletes the object and all
its associated data.
DROP TABLE Customers;

ALTER:
The ALTER statement is used to modify the structure of an existing database object, such as adding or dropping columns, changing data types,
or modifying constraints. 

ALTER TABLE Customers
ADD COLUMN phone VARCHAR(15);

TRUNCATE:
The TRUNCATE statement is used to remove all rows from a table, effectively resetting it to an empty state.
Unlike the DROP statement, which deletes the entire table structure, TRUNCATE preserves the table structure and only removes the data.

TRUNCATE TABLE Customers;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that deals with the manipulation of data within a
database. DML statements are used to insert, update, and delete data stored in database tables.
INSERT:
The INSERT statement is used to insert new rows of data into a table. It allows you to specify the values to be inserted for each column or
select the values from another table. 

NSERT INTO Customers (id, name, email, age)
VALUES (1, 'John Doe', 'john@example.com', 30);

UPDATE:
The UPDATE statement is used to modify existing data in a table. It allows you to change the values of one or more columns based on specified
conditions

UPDATE Customers
SET age = 31
WHERE id = 1;
DELETE:
The DELETE statement is used to remove one or more rows from a table based on specified conditions. It permanently deletes the selected rows
from the table.

DELETE FROM Customers
WHERE id = 1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to retrieve and query data from a database.
DQL statements, primarily the SELECT statement, are used to specify the data to be retrieved, filter the data based on specific conditions, and 
control the result set's presentation.

The most commonly used DQL statement is SELECT, which allows you to query the database and retrieve specific data based on specified criteria. 
Here's an example of using SELECT to retrieve data from a table named "Customers":

SELECT id, name, email
FROM Customers
WHERE age > 30;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
Primary Key:
A primary key is a column or a set of columns in a database table that uniquely identifies each row or record in that table. 
It ensures the uniqueness and integrity of the data within the table. A primary key constraint is used to define a primary key for a table, 
and it enforces the uniqueness and non-nullability of the key.

Key characteristics of a primary key:

Uniqueness: Each value in the primary key column(s) must be unique, ensuring that no two rows in the table have the same primary key value.

Non-nullability: The primary key column(s) cannot contain null values, ensuring that every row in the table has a valid primary key.

Single-value: A primary key can consist of a single column or a combination of multiple columns (composite key).

Primary keys are crucial for maintaining data integrity, facilitating efficient data retrieval, and establishing relationships between tables.

Foreign Key:
A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. 
It establishes a relationship between two tables by enforcing referential integrity, ensuring that the values in the foreign key column(s) correspond 
to the values in the primary key column(s) of the referenced table.

Key characteristics of a foreign key:

Referential Integrity: The values in the foreign key column(s) must exist in the primary key column(s) of the referenced table or be null (if allowed).

Relationship: The foreign key represents a relationship between the table containing the foreign key and the referenced table, typically
representing a one-to-many or many-to-one relationship.

Cascading Actions: Foreign keys can have cascading actions defined, such as ON DELETE and ON UPDATE, to specify the behavior when the referenced
primary key values change or are deleted.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)
cursor = connection.cursor()
query = "SELECT * FROM customers"
cursor.execute(query)
results = cursor.fetchall()
for row in results:
    print(row)
cursor.close()
connection.close()

cursor():
The cursor() method creates a cursor object, which allows you to execute SQL statements and fetch results from the database. 
It is invoked on the connection object and returns a cursor instance associated with that connection.

execute():
The execute() method is used to execute SQL statements or queries through the cursor object. It takes the SQL statement as
a parameter and executes it on the connected MySQL database.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
The order of execution of SQL clauses in an SQL query is as follows:

FROM: The FROM clause specifies the table(s) from which the data will be retrieved. It identifies the source table(s) or view(s) involved in the query.


WHERE: The WHERE clause filters the rows based on specified conditions. It is used to apply logical conditions to select the rows that meet the
specified criteria.

GROUP BY: The GROUP BY clause is used to group rows based on one or more columns. It is typically followed by aggregate functions like COUNT, SUM,
AVG, etc., to perform calculations on groups of rows.

HAVING: The HAVING clause is used to filter the grouped rows based on conditions. It is similar to the WHERE clause but operates on the grouped
data instead of individual rows.

SELECT: The SELECT clause specifies the columns to be retrieved from the table(s) or view(s). It defines the result set's structure and can include
expressions, calculations, and aliases for column names.

DISTINCT: The DISTINCT keyword eliminates duplicate rows from the result set, ensuring that only unique rows are returned.

ORDER BY: The ORDER BY clause sorts the result set based on specified columns. It arranges the rows in ascending or descending order based on the 
column values.

LIMIT/OFFSET: The LIMIT and OFFSET clauses are used to limit the number of rows returned and specify the starting point of the result set,
respectively. They are commonly used for pagination or retrieving a subset of rows from the result.